.Caixa{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: black;
    
}
.Login{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    gap: 30px;
}